@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Montserrat",sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 3%;
}

h1, h2 {
    color: #6A4CB3;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    transition: all 0.3s ease 0s;
    width: 150px;
    height: 40px;
    background: #4A378E;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #fff;
   
}
button:hover a {
    color: #4A378E; /* Change la couleur du texte de <a> au survol */
}
button:hover {
    background: #fff;
    color: #4A378E;
    border: 1px solid #4A378E ;
    
}

.results {
    margin-top: 20px;
}

.results p {
    margin: 10px 0;
}

.positive {
    color: green;
}

.negative {
    color: red;
}
